<mat-card *ngIf="current" class="card">
  <div class="header">
    <div>
      <h2>{{ current.name }}</h2>
      <div class="desc">{{ current.description | titlecase }}</div>
    </div>
    <img
      alt="icon"
      [src]="'https://openweathermap.org/img/wn/' + current.icon + '@2x.png'"
      width="80"
      height="80"
    />
  </div>

  <div class="stats">
    <div class="stat">
      <div class="label">Temp</div>
      <div class="value">
        {{ current.temp | number : "1.0-1" }} {{ unitSymbol }}
      </div>
    </div>
    <div class="stat">
      <div class="label">Humidity</div>
      <div class="value">{{ current.humidity }}%</div>
    </div>
    <div class="stat">
      <div class="label">Wind</div>
      <div class="value">
        {{ current.wind | number : "1.0-1" }}
        {{ unit === "metric" ? "m/s" : "mph" }}
      </div>
    </div>
  </div>
</mat-card>
